body{
  background-color: #d6d6d6;
  margin: 0;
  overflow: hidden;
}
.App{
  margin: 0 20%;
}
h1{
  width:60vh;
  height:20vh;
  margin: 0 auto;
  line-height:20vh;
  color:#666666;
  font-size:100px;
  text-align:center;
}
a{
  color: #666666;
  text-decoration: none;
}
table{
  margin: 0 auto;
  text-align: center;
  /* border-color: #d6d6d6; */
  /* border-collapse: collapse; */
  font-size: 2vh;
}
.tablehead{
  background-color: #ffdbb9;
  text-align: center;
  height: 6vh;
}
.headRow{
  /* border: 1px solid black; */
  background-color: #fac3c3;
  width: 15vh;
  height: 8vh;

}
.secondRow>td{
  /* border: 1px solid black; */
  background-color: #ffffff;
  width: 15vh;
  height: 8vh;

}
.thirdRow>td{
  /* border: 1px solid black; */
  background-color: #ffffff;
  width: 15vh;
  height: 8vh;

}
.fourthRow>td{
  /* border: 1px solid black; */
  background-color: #ffffff;
  width: 15vh;
  height: 8vh;

}
.fifthRow>td{
  /* border: 1px solid black; */
  background-color: #ffffff;
  width: 15vh;
  height: 8vh;

}
.sixthRow>td{
  /* border: 1px solid black; */
  background-color: #ffffff;
  width: 15vh;
  height: 8vh;

}
.seventhRow>td{
  /* border: 1px solid black; */
  background-color: #ffffff;
  width: 15vh;
  height: 8vh;

}
.eighthRow>td{
  /* border: 1px solid black; */
  background-color: #ffffff;
  width: 15vh;
  height: 9vh;
  
}
.col{
  background-color: #b9ddff;
}
.col1{
  background-color: #b9ffdc;
}
